application/cache/*
application/logs/*

!application/*/.htaccess
!application/*/index.html

composer.lock
/vendor/
.DS_Store

# IDE Files
#-------------------------
/nbproject/
.idea/
.vscode/
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project
/tests/tests/
/tests/results/
