version: "3"
services:
    web:
        image: trafex/php-nginx:3.10
        ports:
            - 80:8080
        volumes:
            - .:/var/www/html
    db:
        image: mariadb
        ports:
            - 3306:3306
        environment:
            MYSQL_DATABASE: ocapstats
            MYSQL_ROOT_PASSWORD: rootpass
        volumes:
            - mysqldata:/var/lib/mysql
            - ./.sql/db.skeleton.sql:/docker-entrypoint-initdb.d/ocapstats.skeleton.sql:ro
    adminer:
        image: adminer
        ports:
            - 8080:8080
        volumes:
            - ./.sql/fnf-seed-2024-02-27.sql.gz:/var/www/html/adminer.sql.gz:ro
volumes:
    mysqldata: {}
