html, body {
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    margin-bottom: 0;
}

.mdc-tab-scroller__scroll-area {
    overflow-x: auto;
    white-space: nowrap;
}

#filter-form {
    text-align: center;
}

.list__total {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.list__table {
    width: 100%;
}

.mdc-data-table {
    max-width: 100%;
}
.mdc-data-table__table-container {
}

.mdc-data-table__cell, .mdc-data-table__header-cell {
    padding-left: 10px;
    padding-right: 10px;
}
.mdc-data-table__cell:first-child, .mdc-data-table__header-cell:first-child {
    padding-left: 16px;
}
.mdc-data-table__cell:last-child, .mdc-data-table__header-cell:last-child {
    padding-right: 16px;
}
.cell__title {
    white-space: normal;
    word-wrap: break-word;
}

.list__no_items {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
footer {
    text-align: center;
}
footer .render-stats {
    font-size: 0.6rem;
    opacity: 0.6;
}

#refresh_operations {
    text-align: center;
}

.errors {
    color: var(--mdc-theme-error);
}

.flex--center {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    justify-self: center;
}

.flex--center-row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    justify-self: center;
}

.filters_submit {
    margin-left: 11px;
    padding-left: 4px;
}

.filters_checkbox label {
    cursor: pointer;
}
.mdc-touch-target-wrapper + label, .mdc-radio + label {
    cursor: pointer;
}

#update_operations, #clear_cache, .operations_json_info {
    text-align: center;
}

.errors.mdc-layout-grid__cell {
    text-align: center;
}

.errors.mdc-layout-grid__cell h3 {
    margin-top: 0;
}

.ignored_operation {
    opacity: 0.4;
}

a:link {
    text-decoration: none;
    color: var(--mdc-theme-primary);
}
a:hover {
    color: var(--mdc-theme-secondary);
}
.mdc-data-table td a:hover {
    text-decoration: underline;
}
.mdc-data-table td a.mdc-button:hover {
    text-decoration: none;
}
.mdc-data-table td a:visited {
    opacity: 0.6;
    color: var(--mdc-theme-secondary) !important;
}

.mdc-data-table__cell:first-child.cell--not-first {
    padding-left: 10px;
}

.player__link {
    font-size: 1.25em;
}

.markdown__cell {
    width: 66vw;
    margin-left: auto;
    margin-right: auto;
}

img.ocap-link {
    width: 14px;
}

.mdc-radio.radio--disabled, .mdc-radio.radio--disabled + label {
    opacity: 0.5;
}

.array-table {
    margin: 1.25rem;
    max-width: 100%;
}

.ss-container {
    width: 100%;
    min-width: 200px;
}

#op-data-form .mdc-text-field, #add-alias-form .mdc-text-field {
    min-width: 100%;
    height: 40px;
}
#op-data-form .mdc-text-field .mdc-text-field__input, #add-alias-form .mdc-text-field .mdc-text-field__input {
    padding: 0;
}

.mdc-radio {
    margin-left: 4px;
}

.verified-icon {
    font-size: inherit;
}

#new_names {
    border-radius: 4px;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(232,230,227,0.12);
    padding: 0 1rem 0 1rem;
}

#new_names h3 {
    text-align: center;
}

#new_names ul {
    margin: 5px 0 20px 0;
}

#new_names ul li {
    line-height: 1.5rem;
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
    html, body {
        background: var(--mdc-theme-background);
        color: var(--mdc-theme-text-primary-on-dark);
    }
    h1 {
        color: var(--mdc-theme-text-primary-on-dark);
    }

    .list__total {
        color: var(--mdc-theme-text-hint-on-dark);
    }
    .list__no_items {
        color: var(--mdc-theme-text-primary-on-dark);
    }

    footer {
        color: var(--mdc-theme-text-disabled-on-dark);
    }
    footer a.github {
        fill: #c6cbd1;
    }
    .errors {
        color: var(--mdc-theme-error);
    }

    .mdc-text-field:not(.mdc-text-field--disabled) .mdc-text-field__input {
        color: var(--mdc-theme-text-primary-on-background, #fff);
    }
    .mdc-checkbox__native-control:enabled:not(:checked)~.mdc-checkbox__background {
        border-color: rgba(232,230,227,0.54) !important;
    }
    .mdc-checkbox__native-control:disabled:not(:checked)~.mdc-checkbox__background {
        border-color: rgba(232,230,227,0.26) !important;
    }

    a:link {
        color: var(--mdc-theme-primary);
    }
    a:visited {
        color: var(--mdc-theme-secondary);
    }
    a:hover {
        color: var(--mdc-theme-secondary);
        opacity: 0.7;
    }
    .mdc-data-table td a:visited {
        color: var(--mdc-theme-secondary) !important;
    }
    .markdown-body {
        color: var(--mdc-theme-text-primary-on-dark);
    }
    .markdown-body h2 {
        border-bottom: 1px solid #555555;
    }

    .markdown-body table tr, .markdown-body table tr:nth-child(2n) {
        background-color: var(--mdc-theme-surface);
        border-color: var(--mdc-theme-text-hint-on-light);
    }
    .markdown-body table td, .markdown-body table th {
        border-color: var(--mdc-theme-text-hint-on-light);
    }

    .ss-main .ss-multi-selected .ss-values .ss-value .ss-value-delete {
        color: var(--mdc-theme-text-primary-on-dark);
        background-color: var(--mdc-theme-on-error);
    }

    .mdc-text-field--outlined:not(.mdc-text-field--disabled):not(.mdc-text-field--focused):hover .mdc-notched-outline .mdc-notched-outline__leading, .mdc-text-field--outlined:not(.mdc-text-field--disabled):not(.mdc-text-field--focused):hover .mdc-notched-outline .mdc-notched-outline__notch, .mdc-text-field--outlined:not(.mdc-text-field--disabled):not(.mdc-text-field--focused):hover .mdc-notched-outline .mdc-notched-outline__trailing {
        border-color: rgba(232,230,227,0.87);
    }
    .mdc-text-field--outlined:not(.mdc-text-field--disabled) .mdc-notched-outline__leading,.mdc-text-field--outlined:not(.mdc-text-field--disabled) .mdc-notched-outline__notch,.mdc-text-field--outlined:not(.mdc-text-field--disabled) .mdc-notched-outline__trailing {
        border-color: var(--mdc-theme-text-hint-on-background);
    }
}

/* TODO fix this via theme template: snackbar surface, error colors */
@media (prefers-color-scheme: light) {
    .mdc-snackbar__label a {
        color: #9553f2;
    }
    .mdc-snackbar__label a:visited {
        color: var(--mdc-theme-secondary) !important;
    }
}
.mdc-snackbar__dismiss {
    color: var(--mdc-theme-error);
}
/* /TODO */

.side__, .side__ a:link, .mdc-data-table td.side__ a:visited {
}
.side__logic, .side__logic a:link, .mdc-data-table td.side__logic a:visited {
}
.side__unknown, .side__unknown a:link, .mdc-data-table td.side__unknown a:visited {
    color: #b29900 !important;
}
.side__west, .side__west a:link, .mdc-data-table td.side__west a:visited {
    color: #00a8ff !important;
}
.side__east, .side__east a:link, .mdc-data-table td.side__east a:visited {
    color: #ff0000 !important;
}
.side__guer, .side__guer a:link, .mdc-data-table td.side__guer a:visited {
    color: #00cc00 !important;
}
.side__civ, .side__civ a:link, .mdc-data-table td.side__civ a:visited {
    color: #c900ff !important;
}
